{% if site.resume_section_links %}
<!-- begin Links -->
<section class="content-section">

    <header class="section-header">
    <h2>Additional Links</h2>
    </header>
    <nav class="resume-item">
        <ul class="resume-item-list">
            {% for link in site.data.links %}
                <li><a href={{ link.url }} class="contact-button no-print" itemprop="url">{{ link.description }}</a></li>
            {% endfor %}
            {% if site.resume_looking_for_work == 'yes' %}
            <li>
            <a href="mailto:{{ site.resume_contact_email }}" class="contact-button no-print" itemprop="email">Contact me</a>
            </li>
            {% elsif site.resume_looking_for_work == 'no' %}
            <li><a class="contact-button not-looking no-print">I'm not looking for work right now.</a>
            </li>
            {% else %}
            {% endif %}
        </ul>
    </nav>    

</section>
<!-- end Links -->
{% endif %}